<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here is a show</title>
</head>
<body>
    <h1>Trip Details</h1>
    <table>
        <thead>
            <tr>
                <th>Date of Trip</th>
                <th>Destination</th>
                <th>Length of Stay</th>
            
            </tr>
        </thead>
    <tbody>
        <tr>
           <td><%= checklist.dateOfTrip %></td>
           <td><%= checklist.destination %></td>
           <td><%= checklist.lengthOfStay %></td>
           </tr>
           </tbody>
           </table> 
</body>
</html>