<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h1>Update Trip</h1>
    <form
    action="/checklists/<%= checklist._id %>?_method=PUT"
    class="update-form"
    method="GET" 
  >
  <button type="submit">Update</button></form></td>


    
      <label>Date of Trip </labeL>
        <input type="datetime-local" name="dateOfTrip">
    <label>Destination</label>
    <input type="text" name="destination">
   
      
    
      <!-- <label>Section:
        <select name="section">
          <option value="Essentials">Essentials</option>
          <option value="Technology">Technology</option>
          <option value="Toiletries">Toiletries</option>
          <option value="Accessories">Accesories</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Clothing">Clothing</option>
        </select>
      </label><br> -->

      <input type="submit" value="Add Trip">
    </form> 
      </body>
      </html><!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h1><%= title %></h1>
    <form action="/checklists" method="POST">
    
      <label>Date of Trip </labeL>
        <input type="datetime-local" name="dateOfTrip">
    <label>Destination</label>
    <input type="text" name="destination">
    <label>Length of Stay</label>
    <input type="text" name="lengthOfStay" placeholder="No. of Days/No. of Nights">
      
    
      <!-- <label>Section:
        <select name="section">
          <option value="Essentials">Essentials</option>
          <option value="Technology">Technology</option>
          <option value="Toiletries">Toiletries</option>
          <option value="Accessories">Accesories</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Clothing">Clothing</option>
        </select>
      </label><br> -->

      <input type="submit" value="Add Trip">
    </form> 
      </body>
      </html>